*{
    justify-content: center;
}

.calcul{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 5px solid black;
    border-style: outset;
    box-shadow: 2px 0px 3px 3px rgb(0, 0, 0);
    padding: 1em;
    width: 35%;
    height: 45em;
    border-radius: 30px;
    background-color: darkolivegreen;
}

.titre{
    font-size: 3em;
    margin: auto;
    text-decoration: underline;
    border: 4px solid cornflowerblue;
    border-radius: 15px;
    color: darkred;
    padding: 5px;
}

.results{
    display: flex;
    margin: 1%;
    width: 98%;
    height: 10%;
    background-color: wheat;
    border-radius: 5px;
    font-size: 4em;
    text-align: end;
}

.boutons{
    display: flex;
    justify-content: start;
}

.bouton{
    width: 23%;
    height: 1.5em;
    font-size: 3em;
    box-shadow: 0px 0px 3px 3px gray;
    background-color: cadetblue;
    border: 0;
    margin: 10px;
    border-radius: 20px;
}
.ac{
    background-color: rgb(189, 7, 7);
}
.bouton:active{
    box-shadow: none;
}

.bouton:hover{
    cursor: pointer;
}

.zero{
    width: 50%;
}

.egal{
    width: 13.3em;
    background-color: cornflowerblue;
}
@media screen and (min-width : 200px) and (max-width : 920px) {
    .calcul{
        width: 100%;
    }
}